<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AdvanceContext" connectionString="SERVER=DESKTOP-BSU6GT3;Database=IDCOLAdvanceDB; user=sa; password=1;" providerName="System.Data.SqlClient" />
    <add name="MISContext" connectionString="metadata=res://*/Context.MISContext.MISContext.csdl|res://*/Context.MISContext.MISContext.ssdl|res://*/Context.MISContext.MISContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BSU6GT3;initial catalog=IDCOLMIS;user=sa; password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdvanceQueryContext" connectionString="metadata=res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.csdl|res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.ssdl|res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IDCOLAdvanceDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IDCOLMISConnectionString" connectionString="Hum6BjGpQZzbtTCqe56QPUu2v7FITCQKXDQxn9pp9lARRY2H/wMz+XE5ujqOLUGEvzghW3Zy4XBEeH2z6KnwjkTvUmLcgZsD+FhViBAXawk=" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="AdvanceContext" connectionString="SERVER=172.16.0.219\SQLSVR2008;Database=IDCOLAdvanceDB; user Id=sa; password=Password123" providerName="System.Data.SqlClient" />
    <add name="MISContext" connectionString="metadata=res://*/Context.MISContext.MISContext.csdl|res://*/Context.MISContext.MISContext.ssdl|res://*/Context.MISContext.MISContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.219\SQLSVR2008;Database=IDCOLMIS; user Id=sa; password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdvanceQueryContext" connectionString="metadata=res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.csdl|res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.ssdl|res://*/Context.AdvanceModuleQueryContext.AdvanceQueryContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;SERVER=172.16.0.219\SQLSVR2008;Database=IDCOLAdvanceDB; user Id=sa; password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="IDCOLMISConnectionString" connectionString="nQ6O6/DaBmeu7asX8bz5+HH9CElfLkPYn/I+jylb4zvqp660qkpkAqYgUBxk8eioHvZdn/MSXST8I1V6QKDkmwGYn+y5P2TgkWMmKJXwKq+GctZeDlUykg==" />
  </connectionStrings>-->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<appSettings>
    <!--<add key="RequisitionFileUploadLocation" value="\\172.16.0.219\Advance_Data\Requisition\" />
    <add key="ExpenseFileUploadLocation" value="\\172.16.0.219\Advance_Data\Expense\" />-->
    <add key="RequisitionFileUploadLocation" value="C:\Advance_Data\Requisition\" />
    <add key="ExpenseFileUploadLocation" value="C:\Advance_Data\Expense\" />
    <add key="EmailFrom" value="feedback@idcol.org" />
    <add key="EmailPassword" value="774wfGFftW1FrwsMt4g85Q==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>